<div class="container p-2">
  <div class="row">
    <div class="col-12">
      <h1 mat-dialog-title class="text-center text-primary-color">Aviso</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div mat-dialog-content class="text-center text-primary-color">
        <h2>Seguro que desea eliminar a</h2>
        <h1> <b>{{user.name}}?</b> </h1>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="row">
    <div class="col-6">
      <button class="col" mat-raised-button mat-dialog-close color="accent">Cancelar</button>
    </div>
    <div class="col-6">
      <button class="col" mat-raised-button color="primary" (click)="delete()">Si</button>
    </div>
  </div>
</div>
