<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 mat-dialog-title class="text-center text-primary-color">Recuperar contraseña</h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <mat-form-field class="col-12">
        <mat-label>Digite su correo electronico</mat-label>
        <input [(ngModel)]="email" type="text" maxlength="50" matInput />
      </mat-form-field>
    </div>
  </div>


  <div mat-dialog-actions class="row">
    <div class="col-12 d-flex justify-content-end">
      <button mat-button mat-dialog-close color="accent">Cancelar</button>
      <button mat-button color="primary" (click)="sendRecoveryPasswor()" [disabled]="!email">Enviar Solicitud de cambio
        de
        contraseña</button>
    </div>
  </div>

</div>
