<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <mat-card matRipple class="text-center bg-primary-color text-white ripple">
        <div class="row align-items-center justify-content-center">
          <mat-icon class="mr-3">perm_identity</mat-icon>
          <span>Perfil</span>
        </div>
      </mat-card>
    </div>

    <div class="col-6">
      <mat-card matRipple class="text-center bg-primary-color text-white ripple" (click)="sendToUserPage()">
        <div class="row align-items-center justify-content-center">
          <mat-icon class="mr-3">groups</mat-icon>
          <span>Usuarios</span>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6">
      <mat-card matRipple class="text-center bg-primary-color text-white ripple">
        <div class="row align-items-center justify-content-center">
          <mat-icon class="mr-3">settings</mat-icon>
          <span>Configuracion</span>
        </div>
      </mat-card>
    </div>

    <div class="col-6">
      <mat-card matRipple class="text-center bg-primary-color text-white ripple">
        <div class="row align-items-center justify-content-center">
          <mat-icon class="mr-3">folder</mat-icon>
          <span>Productos</span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
